.spinner-container{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-container{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 1.2rem 0;
    gap: 1rem;
}
.stat{
    padding: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
}

.stat .header{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.stat .numbers{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.stat .change{
    font-size: 1.3rem;
}