.patient-book-container {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  padding-bottom: 20px;
}

.book-appointment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
}

.calendar-container {
  padding: 0 10px;
  position: relative;
}

.time-pick-container {
  margin-left: 20px;
}

.my-appointment-section {
  padding: 20px;
}

.time-header,
.calendar-header {
  font-size: 1.2rem;
  font-weight: 700;
}
.time-header i,
.calendar-header i {
  margin-right: 10px;
  color: #2e76bd;
}

.book-input {
  overflow-y: scroll;
  height: 270px;
  padding: 20px;
}

.slots {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slots p {
  padding: 5px;
  border: 1px solid gray;
  margin: 5px;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  box-shadow: 1px 1px 1px 1px lightgray;
  cursor: pointer;
}

.slots p:hover {
  background-color: green;
}

.book-btn {
  text-align: center;
  margin-top: 2rem;
}

.info-icon {
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
}

.green,
.gold,
.red {
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
}

.green .color {
  background-color: green;
}
.green .color,
.gold .color,
.red .color {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.gold .color {
  background-color: gold;
}

.red .color {
  background-color: red;
}

.selected-slot{
  background-color: green;
}