.dashboard-container {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  background-color: whitesmoke;
  /* grid-template-columns: 1fr 4fr; */
}
.main-content {
  flex-grow: 1; /* Main content takes the remaining space */
  transition: margin-left 0.3s;
  margin-left: 310px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.main-content-active {
  flex-grow: 1; /* Main content takes the remaining space */
  transition: margin-left 0.3s;
  margin-left: 130px;
}
