.view-appointment-container {
  width: 400px;
  border-radius: 20px;
  box-shadow: 2px 3px 2px 2px lightgrey;
  padding: 15px;
  margin: 2rem auto;
}

.appointment-data-container {
  margin: 1rem;
}

.appointment-data-container .header {
  background-color: gold;
  padding-left: 10px;
}
.appointment-data {
  padding: 10px;
  height: auto;
}
.appointment-data p {
  margin-bottom: 10px;
}
.appointment-data .data {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 5px;
}
.appointment-data .pending{
  background-color: gold;
}

.appointment-data .cancelled{
  background-color: red;
}

.appointment-data .schedulled{
  background-color: green;
}


.buttons {
  margin-top: 1rem;
}

.not-found{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found p{
  text-decoration: underline;
}