form {
  width: 400px;
  padding: 15px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  padding: 10px;
}

button {
  width: 90%;
  margin: 1rem auto;
}
